body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    color: white;
    overflow: hidden;
}

#quiz-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}
h1{
    color: #520996;
}

#question {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #e62fe3;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    background: #ff6b81;
    color: white;
    transition: 0.3s ease;
}

button:hover {
    background: #ff4757;
    transform: scale(1.05);
}

#progress {
    margin-top: 15px;
    font-size: 0.9rem;
    opacity: 0.7;
    color: #520996;
}

#floating-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.floating-word {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0;
    animation: floatUp 3s ease forwards;
}

.final-emoji {
    position: absolute;
    font-size: 18px;
    transition: left 2s ease-in-out, top 2s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.final-emoji:hover {
    transform: scale(1.3);
}


@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(-150px);
        opacity: 0;
    }
}
